<div class="leftBox centerText">
    <h2>polecamy</h2>
    <a href="{{ url('page', {url: 'oferta/pompy_ciepla'}) }}">
        <img src="static/images/recommended/pompy_ciepla.png"/>

        <h3>Pompy ciepła</h3>
    </a>
</div>
<div class="leftBox centerText">
    <a href="{{ url('page', {url: 'oferta/kolektory_sloneczne'}) }}">
        <img src="static/images/recommended/solar.png"/>

        <h3>Solary</h3>
    </a>
</div>
<div class="leftBox centerText">
    <a href="#fotowoltanika">
        <img src="static/images/recommended/fotovoltanika2.png"/>

        <h3>fotowoltanika</h3>
    </a>
</div>
<img src="static/images/line.png" alt="" class="menuLine">
