<div class="header">
    <h1>Kolektory słoneczne i systemy solarne</h1>
</div>
<div class="solarLeft divActive">
    <a href="{{ url('page', {url: 'oferta/kolektory_sloneczne/stacjonarne'}) }}" class="blackLink" title="Leski PTH kolektory słoneczne stacjonarne">
        <p class="solarContentLeft">Stacjonarne</p>
    </a>
</div>
<div class="solarRight divUnActive">
    <a href="{{ url('page',{url: 'oferta/kolektory_sloneczne/nadazne'}) }}" class="blackLink" title="Leski PTH kolektory słoneczne podążdjące za słońcem">
        <p class="solarContentRight">Nadążne</p>
    </a>

</div>