{% extends "layout/layout.html.twig" %}


{% block content %}

    {% include "oferta/kolektory_sloneczne/menu_kolektory.html.twig" %}
    <br>
    <br>
    <div class="opis_kolektorow">

        <p>
            Przy współpracy z firmą (światowym potentatem branży systemów solarnych) jesteśmy w stanie zaoferować Państwu usługi związane projektowaniem i realizacją instalacji kolektorów słonecznych.
            Realizowane systemy mogą służyć dostarczeniu energii na potrzeby ciepłej wody użytkowej jak również centralnego ogrzewania.
        </p>
        <br>
        <img src="/static/images/schuco/view.png" alt="przykłady">
        <br>

        <p>
            Nasłonecznienie roczne w Polsce, zależnie od miejsca wynosi od 975 do 1025 kWh/m2rok.
        </p>
        <br>
        <img class="center" src="/static/images/schuco/naslonecznienie.png" alt="mapa nasłonecznienia">
        <br>

        <p>
            System solarny do podgrzewania wody użytkowej C.W.U. i wspomaganie centralnego ogrzewania C.O.
        </p>
        <br>
        <img class="center" src="/static/images/schuco/schemat.png" alt="schemat">
        <br>

        <p>
            Możliwe miejsca montażu paneli solarnych Schücko.
        </p>
        <img class="center" src="/static/images/schuco/montaz.png" alt="montaż">
        <br>

        <p>
            Przykładowe możliwości montażu
        </p>
        <br>
        <img class="center" src="/static/images/schuco/kolektory_sloneczne1.png" alt="kolektory słoneczne">
        {% for i in 6..1 %}
            <img class="inline showAble" src="/static/images/schuco/kolektory_sloneczne{{ i }}.png" alt="kolektory słoneczne">
        {% endfor %}

    </div>
{% endblock %}