{% extends "layout/layout.html.twig" %}

{% block content %}
    <div class="header">
        <h1>Pompy ciepła - realizacje</h1>
    </div>
    <br>

    <div id="offer">
        <div class="offer_image">
            <img src="/static/images/jaworki/kosciol_w_jaworkach.jpg" alt="Koścół w Jaworkach">

            <div class="opis_oferty">
                W Kościele w Jaworkach wykonywana była instalacja ogrzewania podłogowego oraz została zamontowana pompa ciepła.
            </div>
        </div>

        <div class="offer_image">
            <img src="/static/images/jaworki/pompa_ciepla.jpg" alt="Pompa ciepła">

            <div class="opis_oferty">
                W Kościele w Jaworkach została zamontowana pompa ciepła. Pompa ciepła solanka/woda: f-my Nibe, typ Fighter 1330-60 kW, szt. 1
                Dolne źródło pionowe odwierty o łącznej długości 1180
            </div>
        </div>
        <div class="offer_image">
            <img src="/static/images/jaworki/ogrzewanie_podlogowe2.jpg" alt="Ogrzewanie podłogowe">

            <div class="opis_oferty">
                W Kościele w Jaworkach powierzchnia ogrzewania podłogowego 480 m2 powierzchni posadzki.
            </div>
        </div>

    </div>
{% endblock %}