    <div class="leftBox centerText">
        <h2>polecamy</h2>
        <a href="#pompy">
            <img src="static/images/recommended/pompy_ciepla.png"/>

            <h3>Pompy ciepła</h3>
        </a>
    </div>
    <div class="leftBox centerText">
        <a href="#solary">
            <img src="static/images/recommended/solar.png"/>

            <h3>Solary</h3>
        </a>
    </div>
    <div class="leftBox centerText">
        <a href="#fotowoltanika">
            <img src="static/images/recommended/fotovoltanika.png"/>

            <h3>fotowoltanika</h3>
        </a>
    </div>
    <div class="leftBox centerText">
        <a href="#fotowoltanika">
            <img src="static/images/recommended/fotovoltanika2.png"/>

            <h3>fotowoltanika</h3>
        </a>
    </div>
    <div class="leftBox centerText">
        <a href="">
            <img src="static/images/recommended/piece.png"/>

            <h3>Piece na biomasę</h3>
        </a>
    </div>
    <img src="static/images/line.png" alt="" class="menuLine">
