<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="bundles/leskiwebpage/css/reset.css" type="text/css" media="all" />
        <link href="/static/style/style.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="bundles/leskiwebpage/images/favicon.ico" />
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=latin,latin-ext&v2' rel='stylesheet' type='text/css'>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}pompy ciepła, instalacje solarne, solary, fotovoltanika, wewnętrzne i zewnętrzne instalacje sanitarne, centralne ogrzewanie, gaz, instalacje pary technologicznej, kotłownie olejowo - gazowe oraz węzły wymiennikowe, wentylacje i klimatyzacje, kolektory słoneczne, pompy ciepła, ekspertyzy i doradztwo techniczne, jakość{% endblock %}">
        <title>{% block title %}Leski - Przedsiebiorstwo Techniczno-Handlowe Nowy Targ{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="bundles/leskiwebpage/js/jquery.prettyPhoto.js"></script>
        <script src="bundles/leskiwebpage/js/jquery.cycle.lite.js"></script>
        <script src="bundles/leskiwebpage/js/all.js"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="page">
            <div class="rightColumn">
                <img alt="" src="bundles/leskiwebpage/images/header_pl.png">
                <div id="cycle-photo">
                    <div class="slideshow">
                        <img alt="" src="bundles/leskiwebpage/images/header/1.jpg">
                        <img alt="" class="hide" src="bundles/leskiwebpage/images/header/2.jpg">
                        <img alt="" class="hide" src="bundles/leskiwebpage/images/header/3.jpg">
                        <img alt="" class="hide" src="bundles/leskiwebpage/images/header/4.jpg">
                        <img alt="" class="hide" src="bundles/leskiwebpage/images/header/5.jpg">
                        <img alt="" class="hide" src="bundles/leskiwebpage/images/header/6.jpg">
                        <img alt="" class="hide" src="bundles/leskiwebpage/images/header/7.jpg">
                        <img alt="" class="hide" src="bundles/leskiwebpage/images/header/8.jpg">
                        <img alt="" class="hide" src="bundles/leskiwebpage/images/header/9.jpg">
                        <img alt="" class="hide" src="bundles/leskiwebpage/images/header/10.jpg">
                    </div>
                </div>
                {% block content %}{% endblock %}
            </div>
            <div class="leftColumn">
                <img alt="" src="bundles/leskiwebpage/images/logo_pl.png">

                <div class="menu off"><a href="{{ url('page', {url: 'oferta'})}}" title="Informacje na temat oferty handlowej i wykonawczej firmy PTH LESKI">Oferta</a></div>
                <div class="menu off"><a href="" title="Historia firmy PTH  LESKI, od małego przedsiębiorstwa do prężnej firmy">O nas</a></div>
                <div class="menu off"><a href="" title="Spis niektórych realizacji wykonanych przez PTH LESKI">Realizacje</a></div>
                <div class="menu off"><a href="" title="Kontakt z firmą PTH LESKI - dane teleadresowe oraz formularz kontaktowty">Kontakt</a></div>
                {% if viewSettings.isRecommendedMenu %}
                    <div class="leftBox centerText">
                        <h2>polecamy</h2>
                        <a href="#pompy">
                            <img src="bundles/leskiwebpage/images/recommended/pompy_ciepla.png" />
                            <h3>Pompy ciepła</h3>
                        </a>
                    </div>
                    <div class="leftBox centerText">
                        <a href="#solary">
                            <img src="bundles/leskiwebpage/images/recommended/solar.png" />
                            <h3>Solary</h3>
                        </a>
                    </div>
                    <div class="leftBox centerText">
                        <a href="#fotowoltanika">
                            <img src="bundles/leskiwebpage/images/recommended/fotovoltanika.png" />
                            <h3>fotowoltanika</h3>
                        </a>
                    </div>
                    <div class="leftBox centerText">
                        <a href="#fotowoltanika">
                            <img src="bundles/leskiwebpage/images/recommended/fotovoltanika2.png" />
                            <h3>fotowoltanika</h3>
                        </a>
                    </div>
                    <div class="leftBox centerText">
                        <a href="">
                            <img src="bundles/leskiwebpage/images/recommended/piece.png" />
                            <h3>Piece na biomasę</h3>
                        </a>
                    </div>
                    <img src="bundles/leskiwebpage/images/line.png" alt="" class="menuLine">
                {% endif %}
            </div>
            <div class="bottom"></div>
        </div>
        <div class="fotter">
            <img alt="" src="bundles/leskiwebpage/images/bottom.png">
            <span>Realizacja <a href="http://www.danat.dk" title="">danat.dk</a></span>
        </div>
        <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-5536912-1");
        pageTracker._trackPageview();
        </script>
    </body>
</html>
