{% extends "layout/layout.html.twig" %}


{% block content %}
    <div class="header">
        <h1>Kolektory słoneczne i systemy solarne</h1>
    </div>
    <div class="solarLeft divActive">
        <p class="solarContentLeft">
            <a href="{{ url('page', {url: 'oferta/kolektory_sloneczne/stacjonarne'}) }}" class="blackLink" title="Leski PTH kolektory słoneczne stacjonarne">Stacjonarne</a>
        </p>
    </div>
    <div class="solarRight divUnActive">
        <p class="solarContentRight">
            <a href="{{ url('page',{url: 'oferta/kolektory_sloneczne/nadazne'}) }}" class="blackLink" title="Leski PTH kolektory słoneczne podążdjące za słońcem">Nadążne</a>
        </p>
    </div>
{% endblock %}