{% extends "layout/layout.html.twig" %}
{% block content %}

<div class="header">
    <h1>Kontakt</h1>
</div>

<div id="contact">
    <br>
    <ul>
        <li>
            <strong>PTH "Leski" Remigiusz Leski</strong><br>
            ul.Królowej Jadwigi 80A<br>
            34-400 Nowy Targ,<br>
            tel./fax 0-18 266 92 26<br>
            NIP 735-000-40-02<br>
            REGON 004406638<br>
            <a href="http://www.leski.com.pl" class="link">http://www.leski.com.pl</a><br>
        </li>
        <li>
        <strong>Dział techniczny</strong><br>
        tel 0-18 266 92 26<br>
        <a href="#" ref="1" class="link jqsMail">wyślij wiadomość</a><br>
        <br>
        <strong>Oddział Kraków - Olkusz</strong><br>
        tel 0-18 266 92 26<br>
        <a href="#" ref="2" class="link jqsMail">wyślij wiadomość</a><br>
        </li>
        </ul>
    </div>


        {% endblock %}


