{% extends "layout/layout.html.twig" %}


{% block content %}
    <div class="header">
        <h1>Oferta</h1>
    </div>
    <div id="offer">
        <div class="offer_image">
            <a href="{{ url('page', {url: 'oferta/kotlownie'}) }}" name="piece" title="piece">
                <img src="/static/images/offer/kotlownie.jpg" alt="Kotłownie">

                <div class="blue_square">KOTŁOWNIE</div>

            </a>

            <div class="opis_oferty">
                Oferujemy usługi w zakresie instalacji kotłów olejowo - gazowych i stałopalnych
            </div>
        </div>

        <div class="offer_image">
            <a href="{{ url('page', {url: 'oferta/kolektory_sloneczne/stacjonarne'}) }}" name="solary" title="solary">
                <img src="/static/images/offer/kolektory.jpg" alt="Kolektory słoneczne">

                <div class="blue_square">KOLEKTORY SŁONECZNE</div>
            </a>

            <div class="opis_oferty">
                Zajmujemy sie montażem kolektorów słonecznych
            </div>
        </div>
        <div class="offer_image">
            <a href="{{ url('page', {url: 'oferta/pompy_ciepla'}) }}" name="pompy" title="pompy">
                <img src="/static/images/offer/pompy-ciepla.jpg" alt="Pompy ciepła">

                <div class="blue_square">POMPY CIEPŁA</div>
            </a>

            <div class="opis_oferty">
                Posiadanie pompy ciepła ma wiele zalet: są one bezpieczne dla środowiska, koszty są znacznie niższe, pompy ciepła są urządzeniami praktycznie bezoobsługowymi
            </div>
        </div>
    </div>

    <br>
    <div class="oferta_header">
        Podjęte zadania wykonywane są kompleksowo - od projektu, po oddanie realizacji pod "klucz".

        Takie działanie możliwe jest dzięki zatrudnianiu wyspecjalizowanych pracowników, jak również dzięki współpracy
        z wysokiej klasy projektantami.

        Potwierdzeniem naszych starań dotyczących jakości wykonywanych prac, dbałości o klienta oraz rzetelności w
        rozliczeniach z kontrahentami są liczne wyróżnienia i nagrody oraz, co najważniejsze - satysfakcja naszych odbiorców - w formie listów referencyjnych.
    </div>
{% endblock %}